module.exports = {
  repo: '/Users/yangshun/Developer/nusmods/',
  app: '/Users/yangshun/Developer/nusmods/www',
  stagingDir: '/Users/yangshun/Developer/nusmods/www/dist',
  productionDir: '/Users/yangshun/Developer/nusmods.com',
  host: 'http://localhost:3000',
  facebookAppID: 'APP_ID',
  facebookAppSecret: 'APP_SECRET',
  facebookAllowedUsers: [
    ''
  ],
};
