extends layout

block content
  .container.text-center
    div
      div
        img(src='/img/logo.png')
      br
      h4 Launchpad
    br
    div
      a(href='/login/github', class='btn btn-primary') GitHub Login

